<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">

<select id="selectBoardList" resultType="org.zerock.dto.BoardDTO">
	SELECT seq, writer, title, content, hit, regdate, updatedate, delflag 
	FROM board
	WHERE delflag = false
	ORDER BY seq DESC
</select>

<select id="selectBoard" resultType="BoardDTO">
	SELECT * from board WHERE bno = #{bno}
</select>

</mapper>